<StackLayout backgroundColor="violet">
    <Label class="m-y-10" text="Hello TemplateComponent!"></Label>
    <Label class="m-y-10" text="Hello TemplateComponent!"></Label>
    <Label class="m-y-10" text="Hello TemplateComponent!"></Label>
    <Label class="m-y-10" text="Hello TemplateComponent!"></Label>
    <Label class="m-y-10" text="Hello TemplateComponent!"></Label>
    <Label class="m-y-10" text="Hello TemplateComponent!"></Label>
    <Label class="m-y-10" text="Hello TemplateComponent!"></Label>
</StackLayout>
