.screen-type {
    color: #e2e3e9;
    margin: 0;
    padding: 0;
}

.red-dot {
    background-color: #F44336;
    margin-top: 5;
    width: 4;
    height: 4;
    border-radius: 2;
}

.animationShowLong {
    animation-name: show;
    animation-duration: 1;
}

.animationShow {
    animation-name: show;
    animation-duration: 0.4;
}

.animationHide {
    animation-name: hide;
    animation-duration: 0.4;
}

